.DS_Store
node_modules

/tests/e2e/videos/
/tests/e2e/screenshots/


# local env files
.env.local
.env.*.local

# firebase hosting cache files
.firebase/*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# firebase admin private key
/scripts/private-key.json
/scripts/private-key-stg.json

# ipfs private key
/scripts/filebase_ipfs_key.json

# logs
/ui-debug.log
/database-debug.log
/firebase-debug.log
/firestore-debug.log
/pubsub-debug.log

